@namespace BlazeStore.Client.Components.UI

<PaginationLink aria-label="Go to previous page"
                Size="Button.ButtonSize.Default"
                Class="@Css.Cn("pl-1.5!", Class)"
                @attributes="AdditionalAttributes">
    <svg data-icon="inline-start" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="m15 18-6-6 6-6"/>
    </svg>
    <span class="hidden sm:block">@Text</span>
</PaginationLink>

@code {
    [Parameter] public string Text { get; set; } = "Previous";
    [Parameter] public string? Class { get; set; }
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }
}
