@namespace BlazeStore.Client.Components.UI

<PaginationLink aria-label="Go to next page"
                Size="Button.ButtonSize.Default"
                Class="@Css.Cn("pr-1.5!", Class)"
                @attributes="AdditionalAttributes">
    <span class="hidden sm:block">@Text</span>
    <svg data-icon="inline-end" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="m9 18 6-6-6-6"/>
    </svg>
</PaginationLink>

@code {
    [Parameter] public string Text { get; set; } = "Next";
    [Parameter] public string? Class { get; set; }
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }
}
