@namespace __NAMESPACE__

<div data-slot="drawer-footer" class="@Css.Cn("mt-auto flex flex-col gap-2 p-4", Class)" @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string? Class { get; set; }
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }
}
