@namespace __NAMESPACE__

<li class="@Css.Cn("group/menu-item relative", Class)" data-slot="sidebar-menu-item" data-sidebar="menu-item" @attributes="AdditionalAttributes">
    @ChildContent
</li>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string? Class { get; set; }
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }
}
