@page "/collapsible"
@using BlazeUI.Headless.Components.Collapsible

<div data-testid="collapsible-default">
    <CollapsibleRoot>
        <CollapsibleTrigger>Toggle</CollapsibleTrigger>
        <CollapsiblePanel>Collapsible content here</CollapsiblePanel>
    </CollapsibleRoot>
</div>
