@namespace BlazeUI.Styled.Demo.Components.UI

<BlazeUI.Headless.Components.Select.SelectItem
    data-slot="select-item"
    Value="@Value"
    Label="@Label"
    Disabled="@Disabled"
    Class="@Css.Cn("relative flex w-full cursor-default items-center gap-1.5 rounded-md py-1 pr-8 pl-1.5 text-sm outline-hidden select-none focus:bg-accent focus:text-accent-foreground data-[disabled]:pointer-events-none data-[disabled]:opacity-50 [&_svg]:pointer-events-none [&_svg]:shrink-0 [&_svg:not([class*='size-'])]:size-4", Class)"
    @attributes="AdditionalAttributes">
    <BlazeUI.Headless.Components.Select.SelectItemText Class="flex flex-1 shrink-0 gap-2 whitespace-nowrap">
        @ChildContent
    </BlazeUI.Headless.Components.Select.SelectItemText>
    <span class="pointer-events-none absolute right-2 flex size-4 items-center justify-center">
        <svg data-slot="select-item-indicator" class="size-4 opacity-0 [[data-selected]>&]:opacity-100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 6 9 17l-5-5"/></svg>
    </span>
</BlazeUI.Headless.Components.Select.SelectItem>

@code {
    [EditorRequired]
    [Parameter] public string Value { get; set; } = default!;
    [Parameter] public string? Label { get; set; }
    [Parameter] public bool Disabled { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string? Class { get; set; }
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }
}
