@page "/input-otp"

<div class="space-y-6">
<h1 class="text-2xl font-bold">Input OTP</h1>

<div>
    <Card Class="mx-auto max-w-md">
        <CardHeader>
            <CardTitle>Verify your login</CardTitle>
            <CardDescription>
                Enter the verification code we sent to your email address:
                <span class="font-medium"> m@@example.com</span>.
            </CardDescription>
        </CardHeader>
        <CardContent>
            <Field>
                <div class="flex items-center justify-between">
                    <FieldLabel for="otp-verification">
                        Verification code
                    </FieldLabel>
                    <Button Variant="Button.ButtonVariant.Outline" Size="Button.ButtonSize.Sm">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 12a9 9 0 1 1-9-9c2.52 0 4.93 1 6.74 2.74L21 8"/><path d="M21 3v5h-5"/></svg>
                        Resend Code
                    </Button>
                </div>
                <InputOTP MaxLength="6" id="otp-verification">
                    <InputOTPGroup>
                        <InputOTPSlot Index="0" />
                        <InputOTPSlot Index="1" />
                        <InputOTPSlot Index="2" />
                    </InputOTPGroup>
                    <InputOTPSeparator />
                    <InputOTPGroup>
                        <InputOTPSlot Index="3" />
                        <InputOTPSlot Index="4" />
                        <InputOTPSlot Index="5" />
                    </InputOTPGroup>
                </InputOTP>
                <FieldDescription>
                    <a href="#">I no longer have access to this email address.</a>
                </FieldDescription>
            </Field>
        </CardContent>
        <CardFooter>
            <Field>
                <Button Class="w-full">
                    Verify
                </Button>
                <div class="text-sm text-muted-foreground">
                    Having trouble signing in?
                    <a href="#" class="underline underline-offset-4 transition-colors hover:text-primary">
                        Contact support
                    </a>
                </div>
            </Field>
        </CardFooter>
    </Card>
</div>
</div>
