@page "/menu"

<div class="space-y-6">
<h1 class="text-2xl font-bold">Dropdown Menu</h1>

<div>
<DropdownMenu>
    <DropdownMenuTrigger>
        <Render>
            <Button Variant="Button.ButtonVariant.Outline" @attributes="context.Attributes">
                @context.ChildContent
            </Button>
        </Render>
        <ChildContent>Complex Menu</ChildContent>
    </DropdownMenuTrigger>
    <DropdownMenuContent Class="w-44">
        <DropdownMenuGroup>
            <DropdownMenuLabel>File</DropdownMenuLabel>
            <DropdownMenuItem>
                New File
                <DropdownMenuShortcut>⌘N</DropdownMenuShortcut>
            </DropdownMenuItem>
            <DropdownMenuItem>
                New Folder
                <DropdownMenuShortcut>⇧⌘N</DropdownMenuShortcut>
            </DropdownMenuItem>
            <DropdownMenuSub>
                <DropdownMenuSubTrigger>Open Recent</DropdownMenuSubTrigger>
                <DropdownMenuSubContent>
                    <DropdownMenuGroup>
                        <DropdownMenuLabel>Recent Projects</DropdownMenuLabel>
                        <DropdownMenuItem>Project Alpha</DropdownMenuItem>
                        <DropdownMenuItem>Project Beta</DropdownMenuItem>
                        <DropdownMenuSub>
                            <DropdownMenuSubTrigger>More Projects</DropdownMenuSubTrigger>
                            <DropdownMenuSubContent>
                                <DropdownMenuItem>Project Gamma</DropdownMenuItem>
                                <DropdownMenuItem>Project Delta</DropdownMenuItem>
                            </DropdownMenuSubContent>
                        </DropdownMenuSub>
                    </DropdownMenuGroup>
                    <DropdownMenuSeparator />
                    <DropdownMenuGroup>
                        <DropdownMenuItem>Browse...</DropdownMenuItem>
                    </DropdownMenuGroup>
                </DropdownMenuSubContent>
            </DropdownMenuSub>
            <DropdownMenuSeparator />
            <DropdownMenuItem>
                Save
                <DropdownMenuShortcut>⌘S</DropdownMenuShortcut>
            </DropdownMenuItem>
            <DropdownMenuItem>
                Export
                <DropdownMenuShortcut>⇧⌘E</DropdownMenuShortcut>
            </DropdownMenuItem>
        </DropdownMenuGroup>
        <DropdownMenuSeparator />
        <DropdownMenuGroup>
            <DropdownMenuLabel>View</DropdownMenuLabel>
            <DropdownMenuCheckboxItem @bind-Checked="_showSidebar">
                Show Sidebar
            </DropdownMenuCheckboxItem>
            <DropdownMenuCheckboxItem @bind-Checked="_showStatusBar">
                Show Status Bar
            </DropdownMenuCheckboxItem>
            <DropdownMenuSub>
                <DropdownMenuSubTrigger>Theme</DropdownMenuSubTrigger>
                <DropdownMenuSubContent>
                    <DropdownMenuGroup>
                        <DropdownMenuLabel>Appearance</DropdownMenuLabel>
                        <DropdownMenuRadioGroup @bind-Value="_theme">
                            <DropdownMenuRadioItem Value="light">Light</DropdownMenuRadioItem>
                            <DropdownMenuRadioItem Value="dark">Dark</DropdownMenuRadioItem>
                            <DropdownMenuRadioItem Value="system">System</DropdownMenuRadioItem>
                        </DropdownMenuRadioGroup>
                    </DropdownMenuGroup>
                </DropdownMenuSubContent>
            </DropdownMenuSub>
        </DropdownMenuGroup>
        <DropdownMenuSeparator />
        <DropdownMenuGroup>
            <DropdownMenuLabel>Account</DropdownMenuLabel>
            <DropdownMenuItem>
                Profile
                <DropdownMenuShortcut>⇧⌘P</DropdownMenuShortcut>
            </DropdownMenuItem>
            <DropdownMenuItem>Billing</DropdownMenuItem>
            <DropdownMenuSub>
                <DropdownMenuSubTrigger>Settings</DropdownMenuSubTrigger>
                <DropdownMenuSubContent>
                    <DropdownMenuGroup>
                        <DropdownMenuLabel>Preferences</DropdownMenuLabel>
                        <DropdownMenuItem>Keyboard Shortcuts</DropdownMenuItem>
                        <DropdownMenuItem>Language</DropdownMenuItem>
                        <DropdownMenuSub>
                            <DropdownMenuSubTrigger>Notifications</DropdownMenuSubTrigger>
                            <DropdownMenuSubContent>
                                <DropdownMenuGroup>
                                    <DropdownMenuLabel>Notification Types</DropdownMenuLabel>
                                    <DropdownMenuCheckboxItem @bind-Checked="_pushNotifications">
                                        Push Notifications
                                    </DropdownMenuCheckboxItem>
                                    <DropdownMenuCheckboxItem @bind-Checked="_emailNotifications">
                                        Email Notifications
                                    </DropdownMenuCheckboxItem>
                                </DropdownMenuGroup>
                            </DropdownMenuSubContent>
                        </DropdownMenuSub>
                    </DropdownMenuGroup>
                    <DropdownMenuSeparator />
                    <DropdownMenuGroup>
                        <DropdownMenuItem>Privacy & Security</DropdownMenuItem>
                    </DropdownMenuGroup>
                </DropdownMenuSubContent>
            </DropdownMenuSub>
        </DropdownMenuGroup>
        <DropdownMenuSeparator />
        <DropdownMenuGroup>
            <DropdownMenuItem>Help & Support</DropdownMenuItem>
            <DropdownMenuItem>Documentation</DropdownMenuItem>
        </DropdownMenuGroup>
        <DropdownMenuSeparator />
        <DropdownMenuGroup>
            <DropdownMenuItem Variant="destructive">
                Sign Out
                <DropdownMenuShortcut>⇧⌘Q</DropdownMenuShortcut>
            </DropdownMenuItem>
        </DropdownMenuGroup>
    </DropdownMenuContent>
</DropdownMenu>
</div>
</div>

@code {
    private bool _showSidebar = true;
    private bool _showStatusBar;
    private bool _pushNotifications = true;
    private bool _emailNotifications = true;
    private string? _theme = "light";
}
