@page "/preview-card"

<div class="space-y-6">
    <h1 class="text-2xl font-bold">PreviewCard</h1>
    <div>
        <PreviewCard>
            <PreviewCardTrigger>
                <Render>
                    <Button Variant="Button.ButtonVariant.Link" @attributes="context.Attributes">
                        @context.ChildContent
                    </Button>
                </Render>
                <ChildContent>@@nextjs</ChildContent>
            </PreviewCardTrigger>
            <PreviewCardContent Class="w-80">
                <div class="flex justify-between space-x-4">
                    <Avatar>
                        <AvatarImage Src="https://github.com/vercel.png" />
                        <AvatarFallback>VC</AvatarFallback>
                    </Avatar>
                    <div class="space-y-1">
                        <h4 class="text-sm font-semibold">@@nextjs</h4>
                        <p class="text-sm">
                            The React Framework – created and maintained by @@vercel.
                        </p>
                        <div class="flex items-center pt-2">
                            <svg class="mr-2 h-4 w-4 opacity-70" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect width="18" height="18" x="3" y="4" rx="2" ry="2"/><line x1="16" x2="16" y1="2" y2="6"/><line x1="8" x2="8" y1="2" y2="6"/><line x1="3" x2="21" y1="10" y2="10"/></svg>
                            <span class="text-xs text-muted-foreground">Joined December 2021</span>
                        </div>
                    </div>
                </div>
            </PreviewCardContent>
        </PreviewCard>
    </div>
</div>
