@page "/table"

<div class="space-y-6">
<h1 class="text-2xl font-bold">Table</h1>

<div>
    <Table>
        <TableCaption>A list of your recent invoices.</TableCaption>
        <TableHeader>
            <TableRow>
                <TableHead Class="w-[100px]">Invoice</TableHead>
                <TableHead>Status</TableHead>
                <TableHead>Method</TableHead>
                <TableHead Class="text-right">Amount</TableHead>
            </TableRow>
        </TableHeader>
        <TableBody>
            <TableRow>
                <TableCell Class="font-medium">INV001</TableCell>
                <TableCell>Paid</TableCell>
                <TableCell>Credit Card</TableCell>
                <TableCell Class="text-right">$250.00</TableCell>
            </TableRow>
            <TableRow>
                <TableCell Class="font-medium">INV002</TableCell>
                <TableCell>Pending</TableCell>
                <TableCell>PayPal</TableCell>
                <TableCell Class="text-right">$150.00</TableCell>
            </TableRow>
            <TableRow>
                <TableCell Class="font-medium">INV003</TableCell>
                <TableCell>Unpaid</TableCell>
                <TableCell>Bank Transfer</TableCell>
                <TableCell Class="text-right">$350.00</TableCell>
            </TableRow>
            <TableRow>
                <TableCell Class="font-medium">INV004</TableCell>
                <TableCell>Paid</TableCell>
                <TableCell>Credit Card</TableCell>
                <TableCell Class="text-right">$450.00</TableCell>
            </TableRow>
            <TableRow>
                <TableCell Class="font-medium">INV005</TableCell>
                <TableCell>Paid</TableCell>
                <TableCell>PayPal</TableCell>
                <TableCell Class="text-right">$550.00</TableCell>
            </TableRow>
        </TableBody>
        <TableFooter>
            <TableRow>
                <TableCell colspan="3">Total</TableCell>
                <TableCell Class="text-right">$1,750.00</TableCell>
            </TableRow>
        </TableFooter>
    </Table>
</div>
</div>
